{% extends "base.html" %}

{% block home_navitem_style %}
    active
{% endblock %}

{% block content %}
    <div class="hero-unit">
        <h1 class="hidden-phone">Coderetreat Rhein-Main</h1>
        <h2 class="visible-phone">Coderetreat Rhein-Main</h2>
        <img src="{{ STATIC_URL }}img/retrospective.jpg" alt=""/>
        <p>Join us for a day-long, intensive practice event, focusing on the fundamentals of software development and design.</p>
        <p><a class="btn btn-primary btn-large" href="{% url learnmore %}">Learn more &raquo;</a></p>
    </div>

    <div class="row-fluid">
      <div class="span4">
          {% include "next.html" %}
      </div>
      <div class="span4">
          <h2>Past Coderetreats</h2>
          <div>
          <ul>
              <li>
                  <a href="{% url mar-2012 %}">
                      Legacy Coderetreat, March 2012
                  </a>
              </li>
              <li>
                  <a href="{% url dec-2011 %}">
                      Global Day of Coderetreat, December 2011
                  </a>
              </li>
          </ul>
          </div>
     </div>
      <div class="span4">
        <h2>Sponsors</h2>
        <div class="row-fluid">
          <div class="span6">
              <a href="http://www.andrena.de">
                  <img src="{{ STATIC_URL }}img/andrena.png" alt="">
              </a>
          </div>
          <div class="span6">
            <a href="http://www.namics.com">
              <img src="{{ STATIC_URL }}img/namics_logo_blau.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}