{% extends "base.html" %}

{% block home_navitem_style %}
    active
{% endblock %}

{% block content %}
    <div class="hero-unit">
      <h1>Coderetreat Frankfurt</h1>
        <img src="{{ STATIC_URL }}img/retrospective.jpg" alt=""/>
        <p>Join us for a day-long, intensive practice event, focusing on the fundamentals of software development and design.</p>
        <p><a class="btn btn-primary btn-large" href="learnmore.html">Learn more &raquo;</a></p>
    </div>

    <div class="row">
      <div class="span4">
        <h2>Upcoming Coderetreat</h2>
         <p>The next Coderetreat will be held on July 7th 2012 at the Namics Office in Frankfurt am Main, Sachsenhausen. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      <div class="span4">
        <h2>Register</h2>
         <p>Thanks to our generous sponsors, participation including breakfast, lunch and refreshments is <strong>completely free of charge.</strong></p>
          <p>Registration for the next Coderetreat on July 7th 2012 will start late May 2012. Be one of the first to know - sign up for the announcement list. No spam. Promised!</p>
          <form action="http://ambestengestern.us2.list-manage1.com/subscribe/post?u=e95cf4b31f91abd0eb5d44375&amp;id=f37c40aed1" method="post" class="well form-inline" target="_blank">
              <div>
                  <input type="email" value="" name="EMAIL" class="input-large" id="mce-EMAIL" placeholder="Email">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
              </div>
          </form>
     </div>
      <div class="span4">
        <h2>Sponsors</h2>
        <p>
            <a href="http://www.namics.com">
                <img src="{{ STATIC_URL }}img/namics_logo_blau.jpg" alt="">
            </a>
        </p>
      </div>
    </div>
{% endblock %}