{% extends "base.html" %}

{% block home_navitem_style %}
    active
{% endblock %}

{% block content %}
    <div class="hero-unit">
        <h1 class="hidden-phone">Coderetreat Rhein-Main</h1>
        <h2 class="visible-phone">Coderetreat Rhein-Main</h2>
        <img src="{{ STATIC_URL }}img/retrospective.jpg" alt=""/>
        <p>Join us for a day-long, intensive practice event, focusing on the fundamentals of software development and design.</p>
        <p><a class="btn btn-primary btn-large" href="{% url learnmore %}">Learn more &raquo;</a></p>
    </div>

    <div class="row-fluid">
      <div class="span4">
        <h2>Upcoming Coderetreat</h2>
         <p>The next Coderetreat will be on <strong>July 7th 2012</strong> at the <a href="http://www.namics.com/namics/standorte/frankfurt/">Namics Office in Frankfurt am Main, Sachsenhausen</a>. </p>
          <p>Thanks to our generous sponsors, participation including breakfast, lunch and refreshments is <strong>completely free of charge.</strong></p>
          <p>
              <a href="http://www.eventbrite.com/event/3598301617" class="btn btn-large">Register &raquo;</a>
          </p>
      </div>
      <div class="span4">
          <h2>Past Coderetreats</h2>
          <p>
          <ul>
              <li>
                  <a href="http://mar2012.coderetreat-rhein-main.com/">
                      Legacy Coderetreat, March 2012
                  </a>
              </li>
              <li>
                  <a href="http://dec2011.coderetreat-rhein-main.com/">
                      Global Day of Coderetreat, December 2011
                  </a>
              </li>
          </ul>
          </p>
     </div>
      <div class="span4">
        <h2>Sponsors</h2>
        <p>
            <a href="http://www.namics.com">
                <img src="{{ STATIC_URL }}img/namics_logo_blau.jpg" alt="">
            </a>
        </p>
      </div>
    </div>
{% endblock %}