{% extends "base.html" %}

{% block imprint_navitem_style %}active{% endblock %}

{% block content %}
    <h1>Imprint/Impressum</h1>
    <p>Betreiber gemäß § 5 TMG:<br/><br/></p>
    <p>Johannes Seitz<br />
    Offenbacher Landstr. 294<br />
    60599 Frankfurt am Main<br />
    </p>
    <h2>Contact/Kontakt:</h2>
    Joha<a href="http://www.google.com/recaptcha/mailhide/d?k=01T2l2ppIs7QiNGBBK5-St1Q==&amp;c=-blUpJ3nsthqQXRrKUQgG-2Fu9MWfvoRoTVTkNajAk4=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501T2l2ppIs7QiNGBBK5-St1Q\75\75\46c\75-blUpJ3nsthqQXRrKUQgG-2Fu9MWfvoRoTVTkNajAk4\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@freenet.de{% endblock %}