{% extends "base.html" %}

{% block learnmore_legacy_navitem_style %}active{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>What is a Legacy Coderetreat?</h1>
    </div>

    <div class="row">
        <div class="span6">
            <section>
                <p>
                We invite you to refactor legacy code and practise various software design rescue and improvement
                techniques. The ultimate goal is to practise these techniques in a low-stakes environment.
                </p>
            </section>
            <section>
                <h2>Which techniques?</h2>
                <p>
                    You will learn to identify and introduce seams into your software - that is places in your code where
                    you can inject objects to decouple modules and make them testable. You will try to add tests,
                    isolate behaviour from frameworks, introduce test doubles, write golden master tests and other
                    techniques.
                </p>
            </section>
            <section>
                <h2>What’s the format?</h2>
                <p>
                    Six sessions of 45 minutes pair programming, each of which followed by a retrospective (10 min)
                    and a short break (5 min).
                </p>
            </section>
            <section>
                <h2>What languages or plattforms do I need to know?</h2>
                <p>
                    So far the legacy codebase we use for Legacy Codereterats is available in the following languages:
                    <ul>
                        <li>C#</li>
                        <li>C++</li>
                        <li>PowerShell</li>
                        <li>CoffeeScript</li>
                        <li>F#</li>
                        <li>Java</li>
                        <li>JavaScript</li>
                        <li>PHP</li>
                        <li>Python</li>
                        <li>Ruby</li>
                        <li>Scala</li>
                        <li>Shell Script</li>
                        <li>Smalltalk</li>
                    </ul>
                </p>
            </section>
        </div>
        <div class="span6">
            <section class="hidden-phone">
                <h2>Watch Corey explain the Coderetreat concept</h2>
                <iframe src="http://player.vimeo.com/video/18955165" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <p>Corey gives an introduction to the purpose of Code Retreat and an introduction to Conway&#039;s Game Of Life.<br /> <br /> Shot on the Lean Dog boat on 1/16/2011 by Justin Searls (http://twitter.com/searls).</p>
            </section>
            <section>
                {% include "next.html" %}
            </section>
        </div>
    </div>


{% endblock %}
