@import url(http://fonts.googleapis.com/css?family=Coustard);

html, body {
  color: #000;
  margin: 0;
  font: 19px/27px Georgia;
}

body {
  background: #fff;
}

h1,h2,h3 {
    font-family: 'Coustard', serif;;
    font-weight: normal;
    color: #4C4C4C;
}

h1 {
  font-size: 1.8em;
  line-height: 1.6em;
  padding: 1.6em 0 0 0;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  line-height: 1.4em;
  padding: 1.3em 0 0 0;
  margin: 0 auto 0.8em;
  text-align: center;
  border-bottom:1px solid #0E0E0E;
}

h3 {
    text-align:center;
}

p {
    margin-bottom:1.5em;
}

div.container a {
    color:#9C0000;
}


nav {
    position: fixed;
    top: 0px;
    padding: 0.2em 0 0.2em 0;
    background-color: #0E0E0E;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    z-index: 77;
}

nav ul {
    padding:0;
    margin:0;
}

nav li {
    list-style-type:none;
    display:inline;
    padding:0 0.5em 0 0;
}

nav li a {
    color:#fff;
    text-decoration:underline;
    font-size:0.8em;
}

div.container {
    margin-bottom:4em;
}


/* #Media Queries */
@media only screen and (max-width: 959px) {} /* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {} /* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 767px) {} /* All Mobile Sizes (devices and browser) */
@media only screen and (min-width: 480px) and (max-width: 767px) {} /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 479px) {} /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
