{% extends "legacy/base.html" %}

{% block content %}
<a name="home"></a>
<h1>Welcome to CodeRetreat Frankfurt</h1>
<p>
    This is the website for the CodeRetreat event taking place in Frankfurt (the Rhein-Main
    one) on Dec 3rd 2011. <br>
    It's part of the <a href="http://coderetreat.com/global_day.html">Global
    Day of CodeRetreat</a>, where over thousand developers around the world spend the day
    practicing the craft of software development and share their passion for Software Craftsmanship.
</p>
<p>
    Want to know what a CodeRetreat is? Check out our <a href="#what-is-a-coderetreat">explanation</a>. 
    Or just go ahead and <a href="http://coderetreat-rhein-main.eventbrite.com/">register your spot</a>, 
    and be a part of this exciting day and save your chance to win some 
    <a href="#special-prices">special prices</a> throughout the day.
</p>
<a name="sponsors"></a>
<h3>Sponsors</h3>
<p>
    This event is sponsored by <a href="http://www.andrena.de/">andrena objects</a> and 
    <a href="http://mediaman.de/">mediaman</a>.
    <div class="sixteen columns clearfix" style="margin-bottom:50px;">
        <div class="eight columns alpha" style="text-align:center;">
            <a href="http://www.andrena.de/"><img src="{{ STATIC_URL }}v1/images/andrena.png"></a>
        </div>
        <div class="eight columns omega" style="text-align:center;">
            <a href="http://mediaman.de/"><img src="{{ STATIC_URL }}v1/images/mediaman.jpg"></a>
        </div>
    </div>
</p>


<a name="registration"></a>

<a name="what-is-a-coderetreat"></a>
<h2>What exactly is CodeRetreat Frankfurt?</h2>
<p>
    CodeRetreat is an event where developers come together to practice the craft of software 
    development. We want to learn and share the basics of good software development.
</p>
<p>
  A more general description (incl. a bit of history and a video of a CodeRetreat in Cleveland) can
  be found on our separate <a href="{% url dec-2011-what-is-a-coderetreat %}">"What is a CodeRetreat?"</a> page.
</p>
<p>
  <h3>How does it work?:</h3>
  <ul>
    <li>CodeRetreat Frankfurt is a day long event taking place on Dec 3rd 2011</li>
    <li>We work <a href="http://en.wikipedia.org/wiki/Pair_programming">in pairs</a>.</li>
    <li>We use Test-Driven Development.</li>
    <li>We start at 8am in the morning and finish around 5.30pm in the afternoon.</li>
    <li>Breakfast and a lunch is provided by our <a href="#sponsors">sponsors</a>.</li>
    <li>Any developer can participate. You can use any language and environment.</li>
    <li>The day is split into six sessions.</li>
    <li>
        Each session lasts 45 minutes and is spent solving 
        <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life">Conway’s Game of Life</a>.
    </li>
    <li>After each session we delete our code, hold a short retrospective and switch pairs. </li>
    <li>After the event we'll go to the pub together.</li>
  </ul>
</p>
<h3>Requirements:</h3>
<p>
    <ul>
        <li>You should know about unit-testing. What is it? How do I write a unit-test?</li>
        <li>
            You should bring your laptop with your preferred development environment installed and
            setup for writing unit-tests.
        </li>
    </ul>
</p>
<a name="special-prices"></a>
<h3>Special Prices?</h3>
<p>
    Did someone say you can win prices at CodeRetreat Frankfurt? Sure! <br/>
    There are several prices that will be raffled during the day to attendees of CodeRetreat Frankfurt,
    including but not limited to:
    <ul>
        <li>One free ebook from the <a href="http://pragprog.com/">Pragmatic Bookshelf</a>.</li>
        <li>One free license of any <a href="http://www.jetbrains.com/">JetBrains</a> product.</li>
        <li>$15 off the first month of <a href="http://www.codeschool.com/">Codeschool</a> for ALL attendees of CodeRetreat Frankfurt.</li>
    </ul>
</p>

<h3>Where?</h3>
<p>
    The event will take place at the <a href="http://www.brotfabrik.info/">Brotfabrik</a> in
    Frankfurt/Main (<a href="http://maps.google.de/maps?q=Brotfabrik,+Frankfurt+am+Main&hl=de&ll=50.131693,8.625984&spn=0.018129,0.045276&sll=51.151786,10.415039&sspn=23.032053,56.90918&vpsrc=0&hq=Brotfabrik,&hnear=Frankfurt+am+Main,+Hessen&t=m&z=15">Bachmannstr. 2-4</a>). It's the same venue that other events like the 
    <a href="http://webmontag.de/location/frankfurt/index">Webmontag Frankfurt</a>, 
    <a href="https://sites.google.com/site/jugffm/">Java User Group Frankfurt</a> take place.
</p>



<a name="contact"></a>
<a name="get-notified"></a>
<h2>Contact</h2>
<p>
  To get in touch with the organizers, just mention 
  <a href="http://twitter.com/CodeRetreatFfm">@CodeRetreatFfm</a> on Twitter
</p>


<a name="coderetreats-in-germany"></a>
<h2>CodeRetreats in Germany</h2>
<p>
  The following is a list of CodeRetreats in Germany that also take place on Dec 3rd, the Global Day
  of CodeRetreat. Please share these locations with your friends and colleagues, that may be
  interested in attending in these cities.
  <ul>
      <li><a href="http://coderetreat-bielefeld.de">CodeRetreat Bielefeld</a></li>
      <li><a href="http://globaldayofcoderetreatdresden.eventbrite.com/">CodeRetreat Dresden</a></li>
      <li><a href="https://github.com/coreyhaines/coderetreat/wiki/Cologne">CodeRetreat Köln</a></li>
      <li><a href="https://www.xing.com/events/global-day-of-code-retreat-hamburg-818053">CodeRetreat Hamburg</a></li>
      <li><a href="http://coderetreat-berlin.de/">CodeRetreat Berlin</a> SOLD OUT</li>
      <li><a href="http://coderetreat-munich.de/">CodeRetreat München</a> SOLD OUT</li>
  </ul>
</p>
{% endblock %}