{% extends "legacy/base.html" %}

{% block content %}
<a name="home"></a>
<h1>CodeRetreat Frankfurt / Rhein-Main</h1>
<p>
    CodeRetreat is an event where developers come together to practice the craft of software 
    development. We want to learn and share the basics of good software development.
</p>
<p>
    CodeRetreats are about allowing yourself to take a detour from your daily programmers' life.
    Make time and room and give your mind space to practice known techniques and learn new ones.
    Together with a group of enthusiastic developers you will encounter new approaches to solving a
    seemingly old problem. In an environment that's tailored towards learning and no deadlines, 
    you will pick up new skills with ease and rediscover your passion for programming 
</p>
<p>
    Give yourself time to evolve. Become a better software craftsman.
</p>


<a name="next-event"></a>
<h2>Legacy CodeRetreat on 24-Mar-2012</h2>
<p>
    The CodeRetreat Frankfurt/Rhein-Main on 24th March 2012 will be a Legacy CodeRetreat taking
    place at the <a href="http://www.namics.com/namics/standorte/frankfurt/">Frankfurt office of
    Namics</a>.
</p>
<p>
    <a href="http://bit.ly/lcr-ffm">Register for the event</a> and be part of this awesome day.
</p>

<h3>Sponsors</h3>
<p>
  This event is sponsored by <a href="http://www.namics.com/">Namics</a> and 
  <a href="http://www.it-agile.de/">it-agile</a>.
  <div class="sixteen columns clearfix" style="margin-bottom:50px;">
      <div class="eight columns alpha" style="text-align:center;">
          <a href="http://www.namics.com/"><img src="{{ STATIC_URL }}v1/images/namics_logo_blau.jpg" width="160"></a>
      </div>
      <div class="eight columns omega" style="text-align:center;">
        <a href="http://www.it-agile.de/"><img src="{{ STATIC_URL }}v1/images/itagile_logo.gif"></a>
      </div>
  </div>  
</p>

<a name="what-is-a-coderetreat"></a>
<h2>What is a CodeRetreat?</h2>
<p>
    A more general description incl. more details on how the day actually works and is structured,
    is on our separate <a href="{% url learnmore %}">"What is a CodeRetreat?"</a> page.
</p>
<p>
    If you want to know even more, there is <a href="http://coderetreat.org">coderetreat.org</a>, 
    the world-wide community dedicated to holding and improving CodeRetreat events around the world.
</p>


<a name="contact"></a>
<a name="get-notified"></a>
<h2>Subscribe &amp; Contact</h2>
<p>
    If you want to receive important information around CodeRetreat Frankfurt/Rhein-Main, you can 
    subscribe to our notification-only list.
</p>
<div id="mc_embed_signup">
<form action="http://ambestengestern.us2.list-manage1.com/subscribe/post?u=e95cf4b31f91abd0eb5d44375&amp;id=f37c40aed1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address</span> </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>  
</form>
</div>
<h3>Contact</h3>
<p>
  To get in touch with the organizers, just mention 
  <a href="http://twitter.com/CodeRetreatFfm">@CodeRetreatFfm</a> on Twitter
</p>


{% endblock %}