{% extends "legacy/base.html" %}

{% block content %}
<h1>What is a CodeRetreat?</h1>

<h3>Little Bit of History</h3>
<p>
  <a href="http://twitter.com/coreyhaines">Corey Haines</a>, the initiator of the CodeRetreat
  concept, used a nice metaphor to explain the concept of this thing called a ‘CodeRetreat’.
  Developing software is a bit like playing an instrument. The big difference is that as a musician
  you take a lot of time practicing and only a fraction of your time performing on stage. As a
  developer at work, we are constantly on stage and we never take enough time to practice.
</p>

<h3>Why?</h3>
<p>  
  In our day to day jobs we have the sense of wanting to get it done, that causes to rush. And so we
  try to cut corners, but sometimes we do not cut the corners in the best way because we do not know
  enough. The CodeRetreat event is (among other things) aimed at practicing these things that we
  think don't know enough, which in turn lead us to cut corners when we are in a rush.
</p>

<h3>How?</h3>
<p>
  During a CodeRetreat we use pair-programming, which is wonderful because you can learn a lot from
  each other. We write our code using TDD and the known design rules. We focus purely on writing
  beautiful code, there is no pressure to actually produce a working solution for the problem.
</p>
<p>
  The format of a CodeRetreat is roughly the following:
  <ul>
    <li>Solve <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life">Conway’s Game of Life</a></li>
    <li>during 45 minutes sessions write the best code with your pair</li>
    <li>delete your code (yes, it can be hard)</li>
    <li>10 minutes retrospectives</li>
    <li>5 minutes brake</li>
    <li>change your pair</li>
    <li>start a new 45 minutes session</li>
  </ul>
</p>
<p>
  We have 3 sessions in the morning, after that we have a lunch of 1h - 1h ½, and 3 more sessions in
  the afternoon. At the end we have a longer retrospective.
</p>
<p>
  This CodeRetreat is language agnostic, the main principles are the same for each language.
</p>
<p>
  To get an even better glimpse into how a CodeRetreat might look like, you can watch this video, 
  which shows the <a href="http://vimeo.com/18955165">Cleveland Code Retreat Introduction</a> from <a
  href="http://vimeo.com/coreyhaines">Corey Haines</a> (on <a href="http://vimeo.com">Vimeo</a>).
  
  <iframe src="http://player.vimeo.com/video/18955165?title=0&amp;byline=0&amp;portrait=0"
  width="601" height="338" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe> 
</p>
<p>
  <em>
    This text is almost completely and blatantly taken from 
    <a href="http://agileminds.be/community/36/68">http://agileminds.be/community/36/68</a>. Thanks, 
    <a href="http://twitter.com/talboomerik">Erik</a> for letting us do so. 
  </em>
</p>
{% endblock %}